<!-- aula 1 -->
<!-- <h1>
    {{ titulo }} {{ meuNumero }}
</h1> -->

<!-- aula 2 -->
<!-- <app-header
    *ngIf="showHeader"
    [texto]="seiLa"
    [numero]="outra"
></app-header> -->
<!-- a variavel showHeader usa um Hooks para prosseguir a aplicação -->

<router-outlet></router-outlet>

<!-- <div class="alert alert-primary" role="alert">
    Alerta bootstrap
</div> -->

<!-- <app-exercicio-data-binding 
    [palavra]="variavelNoApp" 
    [cor]="favoriteColorNoApp"
    (clicado)="eventoRecebido($event)"  
></app-exercicio-data-binding> -->
<!-- em "palavra" e "cor" estamos "importando" uma variavel de pai pra filho usando o @Input -->
<!-- no "clicado", estamos recebendo informações do elemento filho usando o @Output -->


<!-- <app-contador
    [(valor)]="valorDoContador"
>
</app-contador> -->
<!-- [()] usando as duas formas de data binding, a informação vai entrar no "contador" e vai sair no componente "contador" -->

<!-- <app-exercicio-diretivas></app-exercicio-diretivas>

<app-ngclass></app-ngclass>

<app-pipes></app-pipes> -->

<!-- <app-footer></app-footer> -->
